html
{
    margin: 0;
    padding: 0;
}
body
{
    box-sizing: border-box; 
    /* background-image: url('../backgr.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    margin: 0;
    padding: 0;
    display: grid;
    height: 100%;
    /* background: cornsilk; */
    grid-template-rows:  3.5rem 1fr 4rem;
    /* grid-gap: 20px; */
    
}

#sidebar
{
     background-image: url('../sidebar.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#content
{
   
    color: white;
}
#logo
{
    border-radius: 50%;
}
#images
{
    display: grid;
    /* grid-gap: 20px; */
    /* float: left; */
    height: 500px;
    /* display: inline; */
    top: 60%;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    width:auto;
    padding: 20px;
    margin-left: 20px;
    /* position: absolute; */
}
#like_com
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    /* padding-left: 50px;
    margin: 20px; */
}
#image
{
    /* height: 50px; */
    width: 100%;
    display: inline;
    /* display: grid; */
    /* background: #ccc; */
    /* top: 50%; */
    /* border: 1px solid gray; */
    float: left;
    box-shadow: 2px 2px #888888;
    position: relative;
    /* border: 6px solid #333; */
}
#nav
{
    padding: 5px;
    top: 10px;
    position: relative;
    text-align: center;
}
#nav:hover
{
    padding-top: 10px;
    top: 10px;
    position: relative;
    background: white;
    text-align: center;
}
#nav_:hover
{
    padding-top: 10px;
    top: 10px;
    position: relative;
    background: white;
    text-align: center;
}
#nav_
{
    padding: 5px;
    top: 10px;
    position: relative;
    text-align: center;
}
#logo
{
    top : 2%;
    left: 1%;
    position: relative;
   
}
#camera
{
    /* top : 10%;
    left: 40%;
    position: absolute; */
    border-radius: 50%;
}
#header
{
    height: 50px;
    width: 100%;
    background-color: rgba(9, 182, 144, 0.8);
    display: grid;
    grid-template-columns: 3fr 10% 10%;
    /* top: 0%; */
    /* position: relative; */
}
#btn
{
    /* background: rgba(9, 182, 144, 0.3); */
    color: #333;
    text-decoration: none;
    margin: 5px;
    padding: 20px;
    border-radius: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#bod_con
{
    height: auto;
    width: auto;
    display: grid;
    grid-gap: 5px;
    /* grid-template-columns: 3fr 1fr; */
    /* background-color: black; */
    /* background-image: url('../logback.png');
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
}
#cam_img
{
    display: grid;
     grid-template-columns: 2fr 1fr; 
}
#cam_img_id
{
    width: 100%;
    /* box-shadow: 2px 2px #888888; */
  
}
@media only screen and (min-width:320px) and (max-width:600px)
{
    body
    {
    display: grid;
    grid-template-rows: 4rem 1fr;    
    }
    #cam_img
    {
    display: grid;
    grid-template-columns: 1fr;
  
    }
    #header
    {
    display: grid;
    grid-template-columns: 50% 50%; 
    }
    #images
    { 
    grid-template-columns: 1fr;
    }
}
@media only screen and (min-width:601px) and (max-width:800px)
{
    #header
    {
    display: grid;
    grid-template-columns: 70% 30%; 
    }
    #cam_img
    {
    display: grid;
    grid-template-columns: 1fr;
   
    }
    #images
    { 
      grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width:801px) and (max-width:1000px)
{
    #header
    {
    display: grid;
    grid-template-columns: 80% 20%; 
    }
    #images
    { 
     grid-template-columns: 1fr 1fr 1fr;
    }
}
#put_com
{
    padding: 2px;
    border-bottom: 1px solid grey;
}