body
{
    box-sizing: border-box;
    background-image: url('../backgr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#errmsg
{
    font-family: monospace;
    font-size: 150%;
    color:#ccc;
    background: #eee;
}
#signup
{
    width: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
    border: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
    background-color: #ccc;
  


}
#logo
{
    top : 2%;
    left: 1%;
    position: absolute;
   
}
#header
{
    height: 50px;
    width: 100%;
    background-color: rgba(9, 182, 144, 0.8);
    top: 0%;
    position: absolute;

}
#signup input
{
    outline: none;
    border: none;
    margin: 10px;
    border-bottom: 1px solid gray;
    background: transparent;

}
#signup input:focus
{
    outline: none;
    border: none;
    margin: 10px;
    width: 100%;
    border-bottom: 1px solid gray;
    background: transparent;
    font-family: monospace;

}
#signup input[type= 'submit']
{
    width: 100%;
    margin: 20px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    font-family: monospace;
    
}
#signup input[type= 'submit']:hover
{
    width: 100%;
    margin: 20px;
    background: gray;
    border: 1px solid gray;
    color: wheat;
}
a {
    text-decoration: none;
    font-family: monospace;
}
