html
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
    background-image: url('../logback.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
#cont
{
    display: grid;
}
#logo
{
    top : 2%;
    left: 1%;
    position: fixed;
   
}
#header
{
    height: 50px;
    width: 100%;
    background-color: rgba(9, 182, 144, 0.8);
    top: 0%;
    position: fixed;
}
#btn
{
    background: blue;
}
#open_cam
{
    border-radius: 50%;
}
#cap
{
    border-radius: 50%;
    /* left: 20%;
    top: 55%;
    position: absolute; */
}
#vid
{
    background: gray;
}
#smp_img
{
    /* border: 1px solid gray; */
    padding: 20px;
}
#smp_img_block
{
    /* border: 1px solid gray; */
    padding: 20px;
}
#cam
{
    /* width: 800px;
    height: 800px; */
}